# Bảo vệ file .htaccess
ErrorDocument 404 http://localhost/musicplayer/404.php
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

# Rewrite url
RewriteEngine on

# Url bài viết  -   tên bài viết và id bài viết
RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+).html$ index.php?sp=$1&id=$2
RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+).html/$ index.php?sp=$1&id=$2

# Url chuyên mục    -   danh mục menu
RewriteRule ^category/([a-zA-Z0-9_-]+)$ index.php?sc=$1
RewriteRule ^category/([a-zA-Z0-9_-]+)/$ index.php?sc=$1

# Url phân trang chuyên mục -   danh mục menu và số trang
RewriteRule ^category/([a-zA-Z0-9_-]+)/([0-9]+)$ index.php?sc=$1&p=$2
RewriteRule ^category/([a-zA-Z0-9_-]+)/([0-9]+)/$ index.php?sc=$1&p=$2

# Url phân trang bài viết mới nhất  -   số trang
RewriteRule ^([0-9]+)$ index.php?p=$1
RewriteRule ^([0-9]+)/$ index.php?p=$1


#   RewriteEngine, RewriteRule, RewriteCond , RewriteBase

#   ErrorDocument 

#   Redirect 

#   AuthType, AuthName, AuthUserFile ,AuthGroupFile 

#   Require 

#   ...